name: Robot Framework Tests

on:
  push:
    branches: [ main,master ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    container: 
      image: selenium/standalone-chrome:latest
      options: --shm-size=2g
    
    steps:
    - uses: actions/checkout@v2
    
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'
        cache: 'pip'
        cache-dependency-path: requirements.txt
    
    - name: Install minimal dependencies
      run: |
        python -m pip install --upgrade pip
        pip install robotframework==6.1.1 robotframework-seleniumlibrary==6.1.3 selenium==4.16.0
    
    - name: Run Robot Framework Tests
      run: |
        robot --outputdir reports --variable HEADLESS:True Calculator_v2/Tests/CalculatorTest.robot
    
    - name: Upload test results
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: robot-results
        path: reports/