name: Robot Framework Tests

on:
  push:
    branches: [ main,master ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    container: 
      image: selenium/standalone-chrome:latest
      options: --shm-size=2g --user root

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        persist-credentials: false
    
    - name: Install Python and dependencies
      run: |
        apt-get update
        apt-get install -y python3 python3-pip
        python3 -m pip install --upgrade pip
        pip3 install robotframework==6.1.1 robotframework-seleniumlibrary==6.1.3 selenium==4.16.0
    
    - name: Fix permissions
      run: |
        chown -R root:root $GITHUB_WORKSPACE
        chmod -R 755 $GITHUB_WORKSPACE
    
    - name: Run Robot Framework Tests
      run: |
        python3 -m robot --outputdir reports --variable HEADLESS:True Calculator_v2/Tests/CalculatorTest.robot
    
    - name: Upload test results
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: robot-results
        path: reports/