name: Robot Framework Tests

on:
  push:
    branches: [ main,master ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.10'
        cache: 'pip'
        cache-dependency-path: requirements.txt
    
    - name: Cache Chrome
      uses: actions/cache@v3
      with:
        path: /opt/google/chrome
        key: ${{ runner.os }}-chrome
    
    - name: Install Chrome
      if: steps.cache-chrome.outputs.cache-hit != 'true'
      run: |
        wget -q -O - https://dl-ssl.google.com/linux/linux_signing_key.pub | sudo tee /etc/apt/trusted.gpg.d/google_linux_signing_key.gpg
        echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" | sudo tee /etc/apt/sources.list.d/google-chrome.list
        sudo apt-get update
        sudo apt-get install -y google-chrome-stable
    
    - name: Install minimal dependencies
      run: |
        python -m pip install --upgrade pip
        pip install robotframework==6.1.1 robotframework-seleniumlibrary==6.1.3 selenium==4.16.0 webdriver-manager==4.0.1
    
    - name: Run Robot Framework Tests
      env:
        GH_TOKEN: ${{ github.token }}
      run: |
        python Scripts/setup_test_env.py
        robot --outputdir reports --variable HEADLESS:True Calculator_v2/Tests/CalculatorTest.robot
    
    - name: Upload test results
      uses: actions/upload-artifact@v4
      if: always()
      with:
        name: robot-results
        path: reports/